Repository maplibre/maplibre-tile-spec, pull requests merged in 2025-10, with the labels that each got.

#563 Improve comparison output
  java/src/main/java/org/maplibre/mlt/cli/Encode.java
  java/src/main/java/org/maplibre/mlt/converter/ConversionConfig.java
  java/src/main/java/org/maplibre/mlt/converter/MltConverter.java
Labels: enhancement, java

#575 Fix Morton geometry decoding problem
  cpp/include/mlt/json.hpp
  cpp/src/mlt/decode/geometry.hpp
Labels: bug, cpp

#544 refactor(rust): improves boolean decoder organization
  rust/mlt/src/decoder/boolean.rs
  rust/mlt/src/decoder/decode.rs
  rust/mlt/src/decoder/helpers.rs
  rust/mlt/src/decoder/integer.rs
  rust/mlt/src/decoder/integer_stream.rs
  rust/mlt/src/decoder/mod.rs
Labels: enhancement, rust
