Repository maplibre/maplibre-tile-spec, pull requests merged in 2025-09, with the labels that each got.

#517 refactor: reorganize decode vectorized code
  rust/mlt/src/decoder/helpers.rs
  rust/mlt/src/decoder/integer.rs
  rust/mlt/src/decoder/integer_stream.rs
  rust/mlt/src/decoder/mod.rs
  rust/mlt/src/decoder/vectorized/mod.rs
Labels: enhancement, rust

#531 Add basic Bazel target for C++ library
  .github/workflows/cpp.yml
  .gitignore
  .pre-commit-config.yaml
  MODULE.bazel
  cpp/BUILD.bazel
  cpp/bazel/check/BUILD.bazel
Labels: cpp

#553 Java deps
  java/build.gradle
  java/src/main/java/org/maplibre/mlt/cli/Decode.java
  java/src/main/java/org/maplibre/mlt/cli/Encode.java
  java/src/main/java/org/maplibre/mlt/converter/MltConverter.java
  java/src/main/java/org/maplibre/mlt/converter/encodings/BooleanEncoder.java
  java/src/main/java/org/maplibre/mlt/converter/encodings/FloatEncoder.java
  java/src/main/java/org/maplibre/mlt/converter/encodings/GeometryEncoder.java
  java/src/main/java/org/maplibre/mlt/converter/encodings/IntegerEncoder.java
  java/src/main/java/org/maplibre/mlt/converter/encodings/MltTypeMap.java
  java/src/main/java/org/maplibre/mlt/converter/encodings/PropertyEncoder.java
  java/src/main/java/org/maplibre/mlt/converter/encodings/StringEncoder.java
  java/src/main/java/org/maplibre/mlt/converter/tessellation/TessellationUtils.java
  java/src/main/java/org/maplibre/mlt/decoder/PropertyDecoder.java
Labels: dependencies, java

#555 Allow coercion or elision of mismatched property types
  java/src/jmh/java/org/maplibre/mlt/BenchmarkUtils.java
  java/src/main/java/org/maplibre/mlt/cli/Encode.java
  java/src/main/java/org/maplibre/mlt/converter/ConversionConfig.java
  java/src/main/java/org/maplibre/mlt/converter/MltConverter.java
  java/src/main/java/org/maplibre/mlt/converter/encodings/PropertyEncoder.java
  java/src/test/java/org/maplibre/mlt/MltGenerator.java
  java/src/test/java/org/maplibre/mlt/benchmarks/CompressionBenchmarks.java
  java/src/test/java/org/maplibre/mlt/decoder/MltDecoderTest.java
Labels: enhancement, java

#557 Fix several bugs, improve error message on type mismatch
  java/src/main/java/org/maplibre/mlt/converter/MltConverter.java
  java/src/main/java/org/maplibre/mlt/converter/encodings/MltTypeMap.java
  java/src/main/java/org/maplibre/mlt/converter/encodings/PropertyEncoder.java
  java/src/main/java/org/maplibre/mlt/converter/geometry/SpaceFillingCurve.java
  java/src/main/java/org/maplibre/mlt/decoder/MltDecoder.java
Labels: bug, java

#558 Fix handling of negative values in 32-bit int decoding
  java/src/main/java/org/maplibre/mlt/converter/MltConverter.java
  java/src/main/java/org/maplibre/mlt/converter/encodings/EncodingUtils.java
  java/src/main/java/org/maplibre/mlt/converter/encodings/GeometryEncoder.java
  java/src/main/java/org/maplibre/mlt/converter/encodings/IntegerEncoder.java
  java/src/main/java/org/maplibre/mlt/converter/encodings/PropertyEncoder.java
  java/src/main/java/org/maplibre/mlt/converter/encodings/StringEncoder.java
  java/src/main/java/org/maplibre/mlt/decoder/DecodingUtils.java
  java/src/main/java/org/maplibre/mlt/decoder/IntegerDecoder.java
  java/src/main/java/org/maplibre/mlt/decoder/MltDecoder.java
  java/src/main/java/org/maplibre/mlt/decoder/StringDecoder.java
  java/src/main/java/org/maplibre/mlt/metadata/stream/MortonEncodedStreamMetadata.java
  java/src/main/java/org/maplibre/mlt/metadata/stream/RleEncodedStreamMetadata.java
  java/src/main/java/org/maplibre/mlt/metadata/stream/StreamMetadata.java
  java/src/test/java/org/maplibre/mlt/converter/encodings/EncodingUtilsTest.java
  java/src/test/java/org/maplibre/mlt/decoder/DecodingUtilsTest.java
  java/src/test/java/org/maplibre/mlt/decoder/IntegerDecoderTest.java
  java/src/test/java/org/maplibre/mlt/decoder/vectorized/VectorizedDecodingUtilsTest.java
Labels: bug, java

#559 Make the compare option more useful
  java/src/main/java/org/maplibre/mlt/cli/CliUtil.java
  java/src/main/java/org/maplibre/mlt/cli/Encode.java
Labels: enhancement, java
