Repository maplibre/maplibre-tile-spec, pull requests merged in 2025-05, with the labels that each got.

#448 Mlt Decoder Rust POC
  .github/workflows/rust.yml
  .pre-commit-config.yaml
  rust/Cargo.toml
  rust/mlt/Cargo.toml
  rust/mlt/README.md
  rust/mlt/build.rs
  rust/mlt/justfile
  rust/mlt/src/README.md
  rust/mlt/src/converter/mlt.rs
  rust/mlt/src/converter/mod.rs
  rust/mlt/src/converter/mvt.rs
  rust/mlt/src/data/mod.rs
  rust/mlt/src/decoder/decode.rs
  rust/mlt/src/decoder/helpers.rs
  rust/mlt/src/decoder/mod.rs
  rust/mlt/src/decoder/varint.rs
  rust/mlt/src/encoder/geometry.rs
  rust/mlt/src/encoder/mod.rs
  rust/mlt/src/error.rs
  rust/mlt/src/lib.rs
  rust/mlt/src/metadata/mod.rs
  rust/mlt/src/metadata/proto_tileset.rs
  rust/mlt/src/metadata/stream.rs
  rust/mlt/src/metadata/stream_encoding.rs
  rust/mlt/src/metadata/tileset.rs
  rust/mlt/src/vector/int_flat_vector.rs
  rust/mlt/src/vector/int_vector.rs
  rust/mlt/src/vector/mod.rs
  rust/mlt/src/vector/vector.rs
  rust/wasm-test/Cargo.toml
  rust/wasm-test/README.md
  rust/wasm-test/index.html
  rust/wasm-test/src/lib.rs
  rust/wasm-test/src/utils.rs
Labels: rust

#485 docs: add rust implementation overview
  rust/mlt/README.md
Labels: documentation

#488 fix: remove unintended cursor advancement
  rust/mlt/src/metadata/stream.rs
Labels: bug, rust
